---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ item.name }}-deployment
  labels:
    app: {{ item.name }}
spec:
  replicas: {{ item.replicas | default('1') }}
  selector:
    matchLabels:
      app: {{ item.name }}
  template:
    metadata:
      labels:
        app: {{ item.name }}
    spec:
      containers:
{% for container in item.containers %}
      - name: {{ container.name | default(item.name) }}
        image: {{ container.image }}
        ports:
{% for port in container.ports %}
        - containerPort: {{ port.containerPort }}
{% endfor %}
{% if container.envVars is defined %}
        env:
{% for env in container.envVars %}
        - name: {{ env.name }}
          value: {{ env.value }}
{% endfor %}
{% endif %}
{% if container.volumes is defined %}
        volumeMounts:
{% for volume in container.volumes %}
        - mountPath: {{ volume.path }}
          name: {{ volume.name | default(client_id | lower + '-' + item.name) }}
{% endfor %}
      volumes:
{% for volume in container.volumes %}
      - name: {{ volume.name | default(client_id | lower + '-' + item.name) }}
        nfs:
          server: {{ client_id | lower }}-master
          path: /{{ item.name }}/
{% endfor %} 
{% endif %}
{% endfor %}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ item.name }}-service
  labels:
    app: {{ item.name }}
    role: service
spec:
{% if item.exposed is defined and item.exposed %}
  type: NodePort
{% endif %}
  selector:
    app: {{ item.name }}
  ports:
{% for container in item.containers %}
{% for port in container.ports %}
    - name: port-{{ port.clusterPort | default(port.containerPort) }}-{{ port.protocol | default('tcp') | lower }}
      protocol: {{ port.protocol | default('tcp') | upper }}
      port: {{ port.clusterPort | default(port.containerPort) }}
      targetPort: {{ port.containerPort }}
{% endfor %}
{% endfor %}