---
apiVersion: projectcalico.org/v3
kind: HostEndpoint
metadata:
  name: {{ inventory_hostname | lower }}-{{ ansible_default_ipv4.interface }}
  labels:
    kubernetes-host: ingress
spec:
  interfaceName: {{ ansible_default_ipv4.interface }}
  node: {{ inventory_hostname | lower }}
  expectedIPs:
  - {{ ansible_host }}
