{% if item.exposed is defined and item.exposed %}
---
apiVersion: projectcalico.org/v3
kind: GlobalNetworkPolicy
metadata:
  name: {{ item.name }}-exposed-policy
spec:
  selector: has(kubernetes-host)
  preDNAT: true
  applyOnForward: true
  order: 10
  types:
  - Ingress
  ingress:
{% for container in item.containers %}
{% for port in container.ports %}
  - action: Allow
    protocol: {{ port.protocol | default('tcp') | upper }}
    destination:
      selector: has(kubernetes-host)
      ports: [{{ port.nodePort }}]
{% endfor %}
{% endfor %}
---
apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: {{ item.name }}-internal-ingress-policy
  namespace: {{ item.namespace | default('default') }}
spec:
  selector: app == '{{ item.name }}'
  order: 20
  types:
  - Ingress
  ingress:
  - action: Allow
{% endif %}
{% if item.rules.egressRules is defined %}
---
apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: {{ item.name }}-internal-egress-policy
  namespace: {{ item.namespace | default('default') }}
spec:
  selector: app == '{{ item.name }}'
  order: 30
  types:
  - Egress
  egress:
{% for egress in item.rules.egressRules %}
  - action: Allow
    protocol: {{ egress.protocol | default('tcp') | upper }}
    destination:
{% if egress.allowTo is defined %}
      selector: app == '{{ egress.allowTo }}'
{% endif %}
      ports: [{{ egress.ports }}]
{% endfor %}
{% for egress in item.rules.egressRules %}
{% if egress.allowTo is defined %}
---
apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: {{ egress.allowTo }}-internal-ingress-from-{{ item.name }}-policy
  namespace: {{ item.namespace | default('default') }}
spec:
  selector: app == '{{ egress.allowTo }}'
  order: 40
  types:
  - Ingress
  ingress:
  - action: Allow
    protocol: {{ egress.protocol | default('tcp') | upper }}
    source:
      selector: app == '{{ item.name }}'
    destination:
      ports: [{{ egress.ports }}]
{% endif %}
{% endfor %}
{% endif %}
