---
apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: {{ item.name }}-policy
spec:
  selector:
    name: {{ item.name }}
  types:
{% if item.rules.ingressRules is defined %}
  - Ingress
  ingress:
{% for ingress in item.rules.ingressRules %}
  - action: Allow
    protocol: {{ ingress.protocol | default('tcp') | upper }}
    source:
{% if ingress.allowFrom is defined %}
      name: {{ ingress.allowFrom }}
{% endif %}
      ports: [{{ ingress.ports }}]
{% endfor %}
{% endif %}
{% if item.rules.egressRules is defined %}
  - Egress
  egress:
{% for egress in item.rules.egressRules %}
  - action: Allow
    protocol: {{ egress.protocol | default('tcp') | upper }}
    source:
{% if egress.allowTo is defined %}
      name: {{ egress.allowTo }}
{% endif %}
      ports: [{{ egress.ports }}]
{% endfor %}
{% endif %}