---
apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: {{ item.name }}-internal-ingress-policy
spec:
  selector: name == '{{ item.name }}-service'
  types:
  - Ingress
  ingress:
{% for container in item.containers %}
{% for port in container.ports %}
  - action: Allow
    protocol: {{ port.protocol | default('tcp') | upper }}
    source:
      ports: [{{ port.clusterPort | default(port.containerPort) }}]
    destination:
      selector: name == '{{ item.name }}-deployment'
      ports: [{{ port.containerPort }}]
{% endfor %}
{% endfor %}
{% if item.rules.egressRules is defined %}
---
apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: {{ item.name }}-internal-egress-policy
spec:
  selector: name == '{{ item.name }}-deployment'
  types:
  - Egress
  egress:
{% for egress in item.rules.egressRules %}
  - action: Allow
    protocol: {{ egress.protocol | default('tcp') | upper }}
    destination:
{% if egress.allowTo is defined %}
      selector: name == '{{ egress.allowTo }}'
{% endif %}
      ports: [{{ egress.ports }}]
{% endfor %}
{% endif %}
{% if item.exposed is defined and item.exposed %}
---
apiVersion: projectcalico.org/v3
kind: NetworkPolicy
metadata:
  name: {{ item.name }}-exposed-policy
spec:
  selector: has(kubernetes-host)
  types:
  - Ingress
  ingress:
{% for container in item.containers %}
{% for port in container.ports %}
  - action: Allow
    protocol: {{ port.protocol | default('tcp') | upper }}
    source:
      selector: has(kubernetes-host)
      ports: [{{ port.nodePort }}]
    destination:
      selector: name == '{{ item.name }}-service'
      ports: [{{ port.clusterPort | default(port.containerPort) }}]
{% endfor %}
{% endfor %}
{% endif %}