# {{ ansible_managed }}

{% for namespace in kubernetes_deployment_conf %}
{% if namespace.apps is defined %}
{% for app in namespace.apps %}
{% for container in app.containers %}
{% if container.ports is defined %}
{% for port in container.ports %}
{% if port.protocol | default('tcp') | upper == 'HTTP' %}
{{ app.name | lower }}-{{ container.name | default(app.name) | lower }}-service.{{ namespace.namespace | lower }}.{{ ansible_domain | lower }}    {{ namespace.namespace }}_{{ app.name }}_{{ container.name | default(app.name) }}_{{ port.nodePort }}_{{ port.protocol }}_backend
{% if port.url is defined %}
{{ port.url | lower }}    {{ namespace.namespace }}_{{ app.name }}_{{ container.name | default(app.name) }}_{{ port.nodePort }}_{{ port.protocol }}_backend
{% endif %}

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
