global_defs {
    lvs_id haproxy_DH
    enable_script_security
    script_user root root
}

vrrp_script check_haproxy {
    script "/usr/bin/systemctl --state=active --type=service | grep haproxy.service"
    interval 2
    weight 2
}

vrrp_instance VI_{{ groups.nodes.index(inventory_hostname) }} {
{% if groups.nodes.index(inventory_hostname) | int == 0 %}
    state MASTER
{% else %}
    state BACKUP
{% endif %}
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id 51
    priority {{ 500 - groups.nodes.index(inventory_hostname) | int }}
    virtual_ipaddress {
        {{ proxy_floating_ip }}
    }
    track_script {
        check_haproxy
    }
}
