#!/bin/bash

kubectl exec -n {{ admin_namespace }} -it $(kubectl get pods -n {{ admin_namespace }} | grep certbot-deployment | cut -d " " -f1) -- certbot certonly --standalone -n -d {{ site_fqdn }} -m {{ site_email }} --agree-tos {{ production_cluster | ternary('', '--test-cert') }}

sudo cat /data/{{ admin_namespace }}-certbot/etcletsencrypt/live/{{ site_fqdn }}/fullchain.pem /data/{{ admin_namespace }}-certbot/etcletsencrypt/live/{{ site_fqdn }}/privkey.pem | sudo tee /data/{{ admin_namespace }}-haproxy/haproxy.pem > /dev/null
